body {
  font-family: "Helvetica Neue", Helvetica, Geneva, sans-serif;
  padding:2em 5% 0 5%;
  margin:auto;
  color:#000;
  background:#fff;
}

a.p-author {
  height:30px;
  display:block;
  line-height: 30px;
  color: #677777;
}

a.p-author img {
  width:30px;
  height:30px;
  border-radius:50%;
  float:left;
  margin-right: 7px;
}

p.entry-title {
  font-size: 3em;
  padding:0;
  margin:0;
}

section {
  margin: 39px 0 0 0;
}

time a {
  font-size: xx-small;
}

